body{
    color: rgb(40, 45, 51);
    font-size: smaller;
    font-style:normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    image-orientation: from-image;
    
}
.caja{
    float: right;
}

header{
    margin-top: 3cm;
    color: #778899;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}